
// const passive = '○';
// const listen = '⦾';
// const talk = '⦿';
//
.jarvis {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.4em .5em;
  width: 1.75em;
  height: 1.65em;
  font-size: 2em;
  background-color: black;
  color: white;
  line-height: .65;

  &--passive {
    &:before {
      content: '⊙';
    }
  }
  &--listen {
    &:before {
      content: '⊖';
    }
  }
  &--talk {
    &:before {
      content: '⊕';
    }
  }
}
