$jarvis-size: 30px;

.jarvis {
  box-sizing: content-box;
  position: fixed;
  bottom: $jarvis-size*.2;
  right: $jarvis-size*.2;
  border-radius: 50%;
  background-color: #222;
  border: $jarvis-size*.8 solid black;
  width: $jarvis-size*.2;
  height: $jarvis-size*.2;
  transition: background-color .8s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: .6s;
  animation-timing-function: ease;

  &--passive {
    background-color: #999;
    opacity: .5;
  }
  &--listen {
    background-color: #0f0;
    animation-name: jarvis-listen;
  }
  &--talk {
    background-color: #f00;
    animation-name: jarvis-talk;
  }
}

@keyframes jarvis-listen {
  0% {
    background-color: #0f0;
  }
  100% {
    background-color: #2d2;
  }
}


@keyframes jarvis-talk {
  0% {
    background-color: #f00;
  }
  100% {
    background-color: #d22;
  }
}
