doctype html
html
  head
    meta(charset='utf-8')
    meta(content='width=device-width', name='viewport')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title Jarvis 2000
    link(href='/css/styles.css', rel='stylesheet')
    link(href='/css/jarvis.css', rel='stylesheet')
  body
    header.main-header
      a.main-header__link(href="/") Jarvis Test Page
    main.main-content
      block body
    script(src='/js/jarvis2000.js')
    script(src='/js/test-script.js')
