extends _layout

block body
  h1.js-movie__title
  p Lorem ipsum dolor sit amet,  
    span.js-movie__title 
    |  consectetur adipisicing elit. Omnis, quisquam, harum. Accusantium accusamus consequatur non aspernatur cumque minus, vel quae!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, esse. At voluptatibus  
    span.js-movie__title 
    |  nisi fugit vitae quae. Sunt vitae, temporibus modi, fugiat ducimus dolore quasi iure eligendi natus, numquam veniam quod.
